// out: css/index.css, compress: false, sourceMap: true

/**
 * @Author: Edward
 * @Date:   2017-09-14T09:12:27+08:00
 * @Email:  809537981@qq.com
 * @Last modified by:   Edward
 * @Last modified time: 2017-09-14T10:51:09+08:00
 */



@charset "UTF-8";
@baseColor: #333;
@bgColor: #ff8a00;
@aHoverColor: darken(@baseColor, 30%);
@baseWidth: 150px;
@baseHeight: 150px;
body {
    color: @baseColor;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
:link {
    transition: all .3s ease;
}
:visited {
    &:extend(:link);
}
a {
    color: @baseColor;
    text-decoration: none;
    &:hover {
        color: @aHoverColor;
    }
}
.list-item {
    position: relative;
    height: 800px;
    /* transform: perspective(2000px) rotate3d(1,1,0,72deg); */
    transform-style: preserve-3d;
    transform-origin: center;
}
.rounded-list-item () {
    position: absolute;
    display: flex;
    width: @baseWidth;
    height: @baseHeight;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/* 样式继承 */
.list-item [class^=item] {
    .rounded-list-item()
}
.list-item-item (@n, @i: 1) when (@i <= @n) {
    .list-item .item-@{i} {
        top: 0;
        left: @baseHeight*@i;
        background-color: spin(@bgColor, (6% * @i));
    }
    .list-item-item(@n, (@i + 1));
}
.list-item-item(6);
/**ssss*/
