// out: ../css/index.css, compress: false, sourceMap: true

/*
 * @Author: Edward
 * @Date: 2018-04-01 13:46:09
 * @Last Modified by: Edward
 * @Email: 809537981@qq.com
 * @Last Modified time: 2018-05-02 22:29:52
 */

/*
* {
*   "cssrem.rootFontSize": 32
* }
*/

body.game-wrapper {
  // height: 100vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fed59f),
    to(#ffe96f)
  );
}

.game-container {
  position: relative;
  padding-top: 100%;
  background-color: #f1c16c;
  .mask {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    will-change: contents;
    background-color: #f1c16c;
    transition-duration: 300ms;
    &-in {
      opacity: 1;
      transition-duration: 300ms;
      transition-timing-function: ease-in;
    }
    &-out {
      opacity: 0;
      visibility: hidden;
      background-color: transparent;
      transition-duration: 300ms;
      transition-timing-function: ease-out;
    }
  }
}

.time {
  &-container {
    margin: .3125rem 0;
    text-align: center;
  }
}

.tips {
  &-container {
    font-size: .375rem;
    margin: .3125rem 0;
    padding: 0 2%;
  }
}
// 游戏视图
#game {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
// 输入框容器
.input-container {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  padding: 2%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
// 输入框
.game-input {
  display: flex;
  height: 1.1rem;
  flex-basis: 78%;
  padding: .125rem .1875rem;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e8e8e8; /*1px*/
  &-send {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.1rem;
    flex-basis: 20%;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(63, 158, 253, 1);
    transition-duration: 300ms;
    &:active {
      background-color: rgba(63, 158, 253, .8);
    }
  }
}

// 开始游戏按钮
.start-btn {
  color: #fff;
  background-image: -webkit-linear-gradient(-90deg, #fec75b 0%, #f8b43f 66%, #f2a122 100%);
}