@charset "utf-8";
/*
 * @Author: Edward
 * @Date: 2018-04-25 22:35:45
 * @Last Modified by: Edward
 * @Email: 809537981@qq.com
 * @Last Modified time: 2018-04-26 15:48:25
 */
/*
 * @Author: Edward
 * @Date: 2018-03-03 12:38:44
 * @Last Modified by: Edward
 * @Email: 809537981@qq.com
 * @Last Modified time: 2018-03-08 22:23:25
 */
.fl {
  float: left;
}
.oh {
  overflow: hidden;
}
.ta-ct {
  text-align: center;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  width: 8.59375rem;
  margin-left: -4.296875rem;
  height: auto;
  opacity: 0;
  border-radius: .125rem;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
          transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.modal.modal-in {
  opacity: 1;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.modal.modal-out {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0.815);
          transform: translate3d(0, 0, 0) scale(0.815);
}
.modal-head {
  position: relative;
  padding: .40625rem .40625rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}
.modal-content {
  padding: .40625rem;
}
.modal-footer {
  padding: 0 .40625rem .40625rem;
}
.modal-close {
  font-size: 17px;
}
.modal-overlay,
.overlay {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-overlay-visible,
.overlay-visible {
  visibility: visible;
  opacity: 1;
}
.toast {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1100;
  color: #fff;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.toast-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .375rem .46875rem;
}
.toast.toast-center {
  width: auto;
  left: 50%;
  top: 50%;
  opacity: 0;
  border-radius: 8px;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
}
.toast.toast-center.modal-in {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.pupup {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.pupup.pupup-in {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.input {
  display: block;
  border-radius: 4px;
  padding: 0 .15625rem;
  height: 100%;
  width: 100%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}
.input:focus {
  border-color: #c0c0c0;
}
.btn {
  display: inline-block;
  padding: .234375rem 0;
  text-align: center;
  color: #fff;
  background-color: #e4393c;
  border-radius: 4px;
}
.btn-full {
  width: 100%;
}
/*# sourceMappingURL=./common.css.map */