/*
 * @Author: Edward
 * @Date: 2018-04-01 13:46:09
 * @Last Modified by: Edward
 * @Email: 809537981@qq.com
 * @Last Modified time: 2018-05-02 22:29:52
 */
/*
* {
*   "cssrem.rootFontSize": 32
* }
*/
body.game-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fed59f), to(#ffe96f));
}
.game-container {
  position: relative;
  padding-top: 100%;
  background-color: #f1c16c;
}
.game-container .mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  will-change: contents;
  background-color: #f1c16c;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.game-container .mask-in {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
.game-container .mask-out {
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.time-container {
  margin: .3125rem 0;
  text-align: center;
}
.tips-container {
  font-size: .375rem;
  margin: .3125rem 0;
  padding: 0 2%;
}
#game {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
.input-container {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.game-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.1rem;
  -ms-flex-preferred-size: 78%;
      flex-basis: 78%;
  padding: .125rem .1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  /*1px*/
}
.game-input-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.1rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border-radius: 4px;
  color: #fff;
  background-color: #3f9efd;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.game-input-send:active {
  background-color: rgba(63, 158, 253, 0.8);
}
.start-btn {
  color: #fff;
  background-image: -webkit-linear-gradient(-90deg, #fec75b 0%, #f8b43f 66%, #f2a122 100%);
}
/*# sourceMappingURL=./index.css.map */